<div id="<%= dom_id employee %>">
  
  <% if employee.profile_picture.present? %> 
    <%= image_tag(employee.profile_picture, :class => "img-thumbnail") %>
  <% end %>

  <p>
    <strong>Full name:</strong>
    <%= employee.full_name %>
  </p>

  <p>
    <strong>Assigned devices:</strong>
    <ul>
      <% employee.devices.each do |device| %>
        <li><%= link_to device.name, device_path(device) %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Assigned software:</strong>
    <ul>
      <% employee.softwares.each do |software| %>
        <li><%= link_to software.name, software_path(software) %></li>
      <% end %>
    </ul>  
  </p>
</div>
