<div id="<%= dom_id employee %>">
  
  <% if employee.profile_picture.present? %> 
    <%= image_tag(employee.profile_picture, :class => "img-thumbnail") %>
  <% end %>

  <p>
    <strong>Full name:</strong>
    <%= employee.full_name %>
  </p>

  <p>
    <strong>Assigned devices:</strong>
    <%= employee.assigned_devices %>
  </p>

  <p>
    <strong>Assigned software:</strong>
    <%= employee.assigned_software %>
  </p>
</div>
