<%= simple_form_for employee do |form| %>

  <%= form.input :first_name %>
  <%= form.input :last_name %>
  <%= form.input :profile_picture %>

  <div class="form-actions">
    <%= form.button :submit %>
  </div>
<% end %>
