
<%= simple_form_for employee do |form| %>

  <%= form.input :full_name %>
  <%= form.input :profile_picture %>
  <%= form.input :assigned_devices %>
  <%= form.input :assigned_software %>

  <div class="form-actions">
    <%= form.button :submit %>
  </div>
<% end %>
