<%= form_with(model: device_manufacturer) do |form| %>
  <% if device_manufacturer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(device_manufacturer.errors.count, "error") %> prohibited this device_manufacturer from being saved:</h2>

      <ul>
        <% device_manufacturer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :website, style: "display: block" %>
    <%= form.text_field :website %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
