<%= form_with(model: device_category) do |form| %>
  <% if device_category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(device_category.errors.count, "error") %> prohibited this device_category from being saved:</h2>

      <ul>
        <% device_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
