<p style="color: green"><%= notice %></p>

<%= render @device_category %>

<div>
  <%= link_to "Edit this category", edit_device_category_path(@device_category) %> |
  <%= link_to "Back to categories", device_categories_path %>

  <%= button_to "Destroy this category", @device_category, method: :delete %>
</div>
