<h1>Search</h1>

<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query, :value => @query%>
  <%= form.submit "Search" %>
<% end %>

<p class="mt-3">'<%= @query %>'</p>

<h2>Results</h2>

<% if @device.present? %>
  <p>Hits: <%= @device.count %></p>

  <ul>
    <% @device.each do |d| %>
      <li><%= d.title %><li>
    <% end %>
  </ul>
<% end %>
