<h1>Search</h1>

<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query, :value => @query%>

  <%= form.label :employee_id, "Filter by employee:" %>
  <%= form.select :employee_id, [1,2,3,4,5], :selected => @employee_id%>

  <%= form.submit "Search" %>
<% end %>

<p class="mt-3">You searched for '<%= @query %>'</p>

<h2>Results</h2>

<% if @devices.present? %>
  <p>Hits: <%= @devices.count %></p>

  <ul>
    <% @devices.each do |d| %>
      <li><%= d.name %></li>
    <% end %>
  </ul>
<% end %>
