<div id="<%= dom_id device %>">
  <p>
    <strong>Name:</strong>
    <%= device.name %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
      <% if device.device_manufacturer.present? %>
        <%= device.device_manufacturer.name %>
      <% end %>
  </p>

  <p>
    <strong>Category:</strong>
      <% if device.device_category.present? %>
        <%= device.device_category.name %>
      <% end %>
  </p>

  <p>
    <strong>Assigned to:</strong>
      <% if device.employee.present? %>
        <%= device.employee.full_name %>
      <% end %>
  </p>

</div>
