<div id="<%= dom_id device %>">
  <p>
    <strong>Name:</strong>
    <%= device.name %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
      <% if device.device_manufacturer.present? %>
        <%= device.device_manufacturer.name %>
      <% end %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= device.category %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= device.assigned_to %>
  </p>

</div>
